<connectionStrings>
 <add name="BdOperaciones" connectionString="Data Source=DES-SRVBD;Initial Catalog=bdoperaciones_os;Persist Security Info=True;User ID=usuario;Password=clave" />
 <add name="BvnSeguridad" connectionString="Data Source=DES-SRVBD;Initial Catalog=bvn_seguridad;Persist Security Info=True;User ID=usuario;Password=clave" />
 <add name="BvnSeguridadUS" connectionString="Data Source=DES-SRVBD;Initial Catalog=bvn_seguridad;Persist Security Info=True;User ID=adm_seguridad;Password=129:2301abdeijdeuvrsefghST" />
</connectionStrings>
