<connectionStrings>
 <add name="BdOperaciones" connectionString="Data Source=l-srvbd;Initial Catalog=bdoperaciones;Persist Security Info=True;User ID=usuario;Password=clave" />
 <add name="BvnSeguridad" connectionString="Data Source=l-srvbd;Initial Catalog=bvn_seguridad;Persist Security Info=True;User ID=usuario;Password=clave" />
 <add name="BvnSeguridadUS" connectionString="Data Source=l-srvbd;Initial Catalog=bvn_seguridad;Persist Security Info=True;User ID=usr_seguridad;Password=Lima2019" />
</connectionStrings>
